.App {
  overflow: hidden;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.joinTeamTxt {
  font-size: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.leaders {
  display: flex;
  justify-content: center;
}

.leader {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 25px;
  color: white;
}

.emmett {
  background: blue;
}
.landen {
  background: red;
}
.harley {
  background: green;
}
.peyton {
  background: orange;
}

.leader:hover {
  filter: brightness(90%);
  cursor: pointer;
  transition: .1s;
}

.leaderboardLink {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  width: 150px;
  height: 40px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}

.leaderboardLink:hover {
  filter: brightness(90%);
  cursor: pointer;
  transition: .1s;
}

.leaderboard {

}